* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    text-align: center;
   display: grid;
   
       color: #333;
    
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f5dce4;
  
}

.logo {
    font-family: cursive;
    font-size: 24px;
    font-weight: bold;
    color: #ff4081;
  
}

nav ul {
    list-style: none;
    display: flex;
    background-color: #f5dce4;
    border-radius: 30px;
}

nav ul li {
    margin: 0 15px;
    
}

nav ul li a {
    text-decoration: none;
    color: rgb(32, 32, 31);
    font-weight: bold;
}
nav ul li a:hover{
    color: #fb4984;
}
nav ul li a:active{
    color: #ed618f;
}
.btn-part{
    background: #fb4984;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
}

.home {
    padding: 50px 20px;
   
  
}
.home h1,p{
    font-family: cursive;
}
.home h1 span{
    font-family: cursive;
    color: #f384a9;
}

.home img {
    width: 200px;
    margin-top: 20px;
}

.btn-part {
    background: #ff4081;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px 0;
}
.btn-part:hover{
    background-color: #f56f9c;
}
.btn-part:active{
    background-color: #f384a9;
}


/**/
.flavors {
    background: #A8DADC;
    color: white;
    padding: 50px 20px;
}
.flavors h2{
    font-family: cursive;
    font-weight: bolder;
}

.donut-options {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    justify-items: center; 

}

.donut {
    text-align: center;
    margin: 0 15px;
    text-align: center;
  background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 150px;
    color: #333;
}

.donut img {
    width: 80px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

footer {
    background: #f5dce4;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
}

.logo2{
    font-family: cursive;
    font-size: 24px;
    font-weight: bold;
    color: #ff4081;
}